<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to install the required libraries

In [ ]:
!pip install pandas
!pip install ipython-sql prettytable 

!pip install --user ipython-sql
!pip install mysql-connector-python

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [ ]:
import pymysql
%reload_ext sql
%sql mysql+pymysql://root:password@host:port/DB_Name

In [2]:
%sql show tables

 * mysql+pymysql://root:***@localhost:3306/coursera
4 rows affected.

[('chicagocensusdata',),
 ('chicagocrimedata',),
 ('chicagopublicschools',),
 ('petrescue',)]

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
%sql describe chicagocensusdata

 * mysql+pymysql://root:***@localhost:3306/coursera
9 rows affected.

[('COMMUNITY_AREA_NUMBER', 'int', 'YES', '', None, ''),
 ('COMMUNITY_AREA_NAME', 'text', 'YES', '', None, ''),
 ('PERCENT_OF_HOUSING_CROWDED', 'double', 'YES', '', None, ''),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'double', 'YES', '', None, ''),
 ('PERCENT_AGED_16__UNEMPLOYED', 'double', 'YES', '', None, ''),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'double', 'YES', '', None, ''),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'double', 'YES', '', None, ''),
 ('PER_CAPITA_INCOME', 'int', 'YES', '', None, ''),
 ('HARDSHIP_INDEX', 'int', 'YES', '', None, '')]

In [5]:
%sql describe chicagocrimedata

 * mysql+pymysql://root:***@localhost:3306/coursera
21 rows affected.

[('ID', 'int', 'YES', '', None, ''),
 ('CASE_NUMBER', 'text', 'YES', '', None, ''),
 ('DATE', 'text', 'YES', '', None, ''),
 ('BLOCK', 'text', 'YES', '', None, ''),
 ('IUCR', 'int', 'YES', '', None, ''),
 ('PRIMARY_TYPE', 'text', 'YES', '', None, ''),
 ('DESCRIPTION', 'text', 'YES', '', None, ''),
 ('LOCATION_DESCRIPTION', 'text', 'YES', '', None, ''),
 ('ARREST', 'text', 'YES', '', None, ''),
 ('DOMESTIC', 'text', 'YES', '', None, ''),
 ('BEAT', 'int', 'YES', '', None, ''),
 ('DISTRICT', 'int', 'YES', '', None, ''),
 ('WARD', 'int', 'YES', '', None, ''),
 ('COMMUNITY_AREA_NUMBER', 'int', 'YES', '', None, ''),
 ('FBICODE', 'int', 'YES', '', None, ''),
 ('X_COORDINATE', 'int', 'YES', '', None, ''),
 ('Y_COORDINATE', 'int', 'YES', '', None, ''),
 ('YEAR', 'int', 'YES', '', None, ''),
 ('LATITUDE', 'double', 'YES', '', None, ''),
 ('LONGITUDE', 'double', 'YES', '', None, ''),
 ('LOCATION', 'text', 'YES', '', None, '')]

In [4]:
%sql describe chicagopublicschools

 * mysql+pymysql://root:***@localhost:3306/coursera
78 rows affected.

[('School_ID', 'int', 'YES', '', None, ''),
 ('NAME_OF_SCHOOL', 'text', 'YES', '', None, ''),
 ('Elementary, Middle, or High School', 'text', 'YES', '', None, ''),
 ('Street_Address', 'text', 'YES', '', None, ''),
 ('City', 'text', 'YES', '', None, ''),
 ('State', 'text', 'YES', '', None, ''),
 ('ZIP_Code', 'int', 'YES', '', None, ''),
 ('Phone_Number', 'text', 'YES', '', None, ''),
 ('Link', 'text', 'YES', '', None, ''),
 ('Network_Manager', 'text', 'YES', '', None, ''),
 ('Collaborative_Name', 'text', 'YES', '', None, ''),
 ('Adequate_Yearly_Progress_Made_', 'text', 'YES', '', None, ''),
 ('Track_Schedule', 'text', 'YES', '', None, ''),
 ('CPS_Performance_Policy_Status', 'text', 'YES', '', None, ''),
 ('CPS_Performance_Policy_Level', 'text', 'YES', '', None, ''),
 ('HEALTHY_SCHOOL_CERTIFIED', 'text', 'YES', '', None, ''),
 ('Safety_Icon', 'text', 'YES', '', None, ''),
 ('SAFETY_SCORE', 'int', 'YES', '', None, ''),
 ('Family_Involvement_Icon', 'text', 'YES', '', None, ''),
 ('Family_Involvement_Score', 'text', 'YES', '', None, ''),
 ('Environment_Icon', 'text', 'YES', '', None, ''),
 ('Environment_Score', 'int', 'YES', '', None, ''),
 ('Instruction_Icon', 'text', 'YES', '', None, ''),
 ('Instruction_Score', 'int', 'YES', '', None, ''),
 ('Leaders_Icon', 'text', 'YES', '', None, ''),
 ('Leaders_Score', 'text', 'YES', '', None, ''),
 ('Teachers_Icon', 'text', 'YES', '', None, ''),
 ('Teachers_Score', 'text', 'YES', '', None, ''),
 ('Parent_Engagement_Icon', 'text', 'YES', '', None, ''),
 ('Parent_Engagement_Score', 'int', 'YES', '', None, ''),
 ('Parent_Environment_Icon', 'text', 'YES', '', None, ''),
 ('Parent_Environment_Score', 'int', 'YES', '', None, ''),
 ('AVERAGE_STUDENT_ATTENDANCE', 'text', 'YES', '', None, ''),
 ('Rate_of_Misconducts__per_100_students_', 'double', 'YES', '', None, ''),
 ('Average_Teacher_Attendance', 'text', 'YES', '', None, ''),
 ('Individualized_Education_Program_Compliance_Rate', 'text', 'YES', '', None, ''),
 ('Pk_2_Literacy__', 'text', 'YES', '', None, ''),
 ('Pk_2_Math__', 'text', 'YES', '', None, ''),
 ('Gr3_5_Grade_Level_Math__', 'text', 'YES', '', None, ''),
 ('Gr3_5_Grade_Level_Read__', 'text', 'YES', '', None, ''),
 ('Gr3_5_Keep_Pace_Read__', 'text', 'YES', '', None, ''),
 ('Gr3_5_Keep_Pace_Math__', 'text', 'YES', '', None, ''),
 ('Gr6_8_Grade_Level_Math__', 'text', 'YES', '', None, ''),
 ('Gr6_8_Grade_Level_Read__', 'text', 'YES', '', None, ''),
 ('Gr6_8_Keep_Pace_Math_', 'text', 'YES', '', None, ''),
 ('Gr6_8_Keep_Pace_Read__', 'text', 'YES', '', None, ''),
 ('Gr_8_Explore_Math__', 'text', 'YES', '', None, ''),
 ('Gr_8_Explore_Read__', 'text', 'YES', '', None, ''),
 ('ISAT_Exceeding_Math__', 'text', 'YES', '', None, ''),
 ('ISAT_Exceeding_Reading__', 'text', 'YES', '', None, ''),
 ('ISAT_Value_Add_Math', 'text', 'YES', '', None, ''),
 ('ISAT_Value_Add_Read', 'text', 'YES', '', None, ''),
 ('ISAT_Value_Add_Color_Math', 'text', 'YES', '', None, ''),
 ('ISAT_Value_Add_Color_Read', 'text', 'YES', '', None, ''),
 ('Students_Taking__Algebra__', 'text', 'YES', '', None, ''),
 ('Students_Passing__Algebra__', 'text', 'YES', '', None, ''),
 ('9th Grade EXPLORE (2009)', 'text', 'YES', '', None, ''),
 ('9th Grade EXPLORE (2010)', 'text', 'YES', '', None, ''),
 ('10th Grade PLAN (2009)', 'text', 'YES', '', None, ''),
 ('10th Grade PLAN (2010)', 'text', 'YES', '', None, ''),
 ('Net_Change_EXPLORE_and_PLAN', 'text', 'YES', '', None, ''),
 ('11th Grade Average ACT (2011)', 'text', 'YES', '', None, ''),
 ('Net_Change_PLAN_and_ACT', 'text', 'YES', '', None, ''),
 ('College_Eligibility__', 'text', 'YES', '', None, ''),
 ('Graduation_Rate__', 'text', 'YES', '', None, ''),
 ('College_Enrollment_Rate__', 'text', 'YES', '', None, ''),
 ('COLLEGE_ENROLLMENT', 'int', 'YES', '', None, ''),
 ('General_Services_Route', 'int', 'YES', '', None, ''),
 ('Freshman_on_Track_Rate__', 'text', 'YES', '', None, ''),
 ('X_COORDINATE', 'double', 'YES', '', None, ''),
 ('Y_COORDINATE', 'double', 'YES', '', None, ''),
 ('Latitude', 'double', 'YES', '', None, ''),
 ('Longitude', 'double', 'YES', '', None, ''),
 ('COMMUNITY_AREA_NUMBER', 'int', 'YES', '', None, ''),
 ('COMMUNITY_AREA_NAME', 'text', 'YES', '', None, ''),
 ('Ward', 'int', 'YES', '', None, ''),
 ('Police_District', 'int', 'YES', '', None, ''),
 ('Location', 'text', 'YES', '', None, '')]

In [10]:
%sql select count(*) from chicagocrimedata

 * mysql+pymysql://root:***@localhost:3306/coursera
1 rows affected.

[(353,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [4]:
%sql select community_area_name, community_area_number from chicagocensusdata \
where per_capita_income < 11000

 * mysql+pymysql://root:***@localhost:3306/coursera
4 rows affected.

[('West Garfield Park', 26),
 ('South Lawndale', 30),
 ('Fuller Park', 37),
 ('Riverdale', 54)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [8]:
%sql select * from chicagocrimedata where description like '%MINOR%'

 * mysql+pymysql://root:***@localhost:3306/coursera
2 rows affected.

[(3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', 2210, 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 'TRUE', 'FALSE', 2333, 19, 43, 7, 22, 1172680, 1916483, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', 2230, 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 'TRUE', 'FALSE', 413, 4, 8, 48, 22, 1188539, 1843379, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [14]:
%sql select * from chicagocrimedata where primary_type='KIDNAPPING' and description like '%CHILD%'

 * mysql+pymysql://root:***@localhost:3306/coursera
1 rows affected.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', 1792, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, 20, 1143050, 1897546, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [15]:
%sql select * from chicagocrimedata where location_description like '%SCHOOL%'

 * mysql+pymysql://root:***@localhost:3306/coursera
4 rows affected.

[(7399281, 'HS200939', '2010-03-10', '053XX W CONGRESS PKWY', 1320, 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', 'FALSE', 'FALSE', 1522, 15, 29, 25, 14, 1140822, 1897164, 2010, 41.8739014, -87.7584391, '(41.873901397, -87.758439102)'),
 (3530721, 'HK577020', '2004-08-23', '016XX W JONQUIL TER', 2024, 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS', 'TRUE', 'FALSE', 2422, 24, 49, 1, 18, 1163893, 1951001, 2004, 42.0211776, -87.67220843, '(42.021177601, -87.67220843)'),
 (7502426, 'HS305355', '2010-05-13', '035XX S WASHTENAW AVE', 1821, 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING', 'TRUE', 'FALSE', 913, 9, 12, 58, 18, 1158944, 1880896, 2010, 41.82890791, -87.69234919, '(41.828907913, -87.692349187)'),
 (7174283, 'HR585012', '2009-10-13', '043XX W 79TH ST', 1330, 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS', 'TRUE', 'FALSE', 834, 8, 13, 70, 26, 1148764, 1851854, 2009, 41.74941446, -87.7304466, '(41.749414464, -87.730446597)')]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [30]:
%sql select `Elementary, Middle, or High School`, avg(safety_score) from chicagopublicschools group by `Elementary, Middle, or High School`

 * mysql+pymysql://root:***@localhost:3306/coursera
3 rows affected.

[('ES', Decimal('49.4371')),
 ('HS', Decimal('56.8286')),
 ('MS', Decimal('53.0000'))]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [35]:
%sql select community_area_name, percent_households_below_poverty from chicagocensusdata order by percent_households_below_poverty desc limit 5

 * mysql+pymysql://root:***@localhost:3306/coursera
5 rows affected.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [47]:
%sql select count(*) as count_of_crimes, community_area_number from chicagocrimedata group by community_area_number order by count_of_crimes desc limit 1

 * mysql+pymysql://root:***@localhost:3306/coursera
1 rows affected.

[(26, 25)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [43]:
%sql select community_area_name from chicagocensusdata order by hardship_index limit 1

 * mysql+pymysql://root:***@localhost:3306/coursera
1 rows affected.

[('Near North Side',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [14]:
%%sql select community_area_name from chicagocensusdata
where community_area_number in (select community_area_number from chicagocrimedata group by community_area_number having count(*)=26)

 * mysql+pymysql://root:***@localhost:3306/coursera
1 rows affected.

[('Austin',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>